.menu__container {
    display: flex;
    height: 50px;
}

.menu__categories {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.menu__categories_item {
    display: inline-block;
    padding: 0 6px;
    line-height: 50px;
    text-decoration: none;
    color: #888;
    transition: color 0.2s ease-in;
}

.menu__categories_item:hover {
    color: #000;
}

.item__red {
    color: #f93c00;
}

.item__red:hover {
    color: #f93c00;
}

.menu__categories_item:first-child {
    padding-left: 0;
}