.auth-modal__content {
    min-width: 480px;
    max-width: calc(100% - 80px);
}

.auth-modal__header {
    box-sizing: border-box;
    color: #000;
    display: flex;
    flex-shrink: 0;
    font-size: 16px;
    padding: 24px 0px 8px 24px;
}

.auth-modal__header-title {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 700;
}

.auth-modal__body {
    margin: auto 0;
    overflow: auto;
    padding: 24px 35px 24px 24px;
}

.auth-modal__bySocials {
    padding: 0 0 16px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 21px;
}

.auth-modal__bySocials-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.auth-modal__bySocials-btn {
    display: inline-block;
    width: 48%;
    height: 32px;
    margin-bottom: 8px;
    border: 0;
    line-height: 32px;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    background-color: yellow;
    font-size: 12px;
    letter-spacing: 0.02em;
}

.auth-modal__bySocials-btn::before {
    display: block;
    content: "";
    height: 32px;
    width: 32px;
    left: 4px;
    top: 0;
    position: absolute;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.auth-modal__vk-btn::before {
    background-image: url('./../../../assets/images/authorize-icons/byVk.svg');
}

.auth-modal__vk-btn {
    background-color: #4c6c91;
}

.auth-modal__fb-btn::before {
    background-image: url('./../../../assets/images/authorize-icons/byFb.svg');
}

.auth-modal__fb-btn {
    background-color: #385185;
}

.auth-modal__google-btn::before {
    background-image: url('./../../../assets/images/authorize-icons/byGoogle.svg');
}

.auth-modal__google-btn {
    background-color: #fff;
    border: 1px solid #4285f4;
    color: #4285f4;
}

.auth-modal__mailru-btn::before {
    background-image: url('./../../../assets/images/authorize-icons/byMailru.svg');
}

.auth-modal__mailru-btn {
    background-color: #168de2;
}

.auth-modal__form-field+.auth-modal__form-field {
    margin: 16px 0;
}

.auth-modal__input {
    box-sizing: border-box;
    height: 30px;
    min-width: 0;
    width: 100%;
    background-color: transparent;
    padding: 12px 8px;
    color: #000;
    outline: 0;
    font-size: 13px;
    letter-spacing: 0.02em;
    border: 0;
    border-radius: 0;
}

.auth-modal__form-submit {
    display: flex;
    align-items: center;
}

.auth-modal-submit {
    width: 40%;
    display: inline-block;
    margin-right: 24px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 700;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    min-width: 102px;
    color: #fff;
    border: 0;
    background-color: #2796ff;
}

.auth-modal-submit:hover {
    background-color: #0060d2;
}

.auth-modal-submit[disabled] {
    color: #888;
    background: #e5e5e5;
    cursor: default;
}

.auth-modal__form-submit .common-modal-text {
    outline: none;
    padding: 0;
}