.seoMenu {
    border-top: 1px solid #e5e5e5;
}

.seoMenu__container {
    margin-bottom: 20px;
}

.seoMenu__title {
    margin: 42px 0 14px;
    padding: 0;
    line-height: 26px;
    font-weight: 500;
    font-size: 22px;
}

.seoMenu .MuiTabs-indicator {
    transition: none;
    display: none;
}

.seoMenu .MuiTabs-root {
    min-height: auto;
}

.seoMenu .MuiPaper-elevation4 {
    box-shadow: none;
}

.seoMenu .MuiButtonBase-root {
    transition: all 0.3s ease;
    border: 1px solid #888;
    color: #888;
    background-color: #ffffff;
    height: 24px;
    min-height: auto;
    padding: 0;
    line-height: 1;
    text-transform: none;
    font-size: 11px;
    padding: 0 15px;
}

.seoMenu .MuiAppBar-root {
    width: auto;
    margin-bottom: 23px;
    background-color: #ffffff;
}

.seoMenu .MuiTabs-scroller {
    flex: 0 0 auto;
}

.seoMenu .MuiTabs-fixed {
    width: auto;
}
    
.seoMenu .MuiTab-root {
    min-width: auto;
    max-width: auto;
    min-height: auto;
    max-height: auto;
}

.seoMenu .MuiTab-fullWidth {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
    flex-shrink: 0;
}

.seoMenu .MuiButtonBase-root + .MuiButtonBase-root {
    margin-left: -1px;
}

.seoMenu .MuiButtonBase-root:first-child {
    border-radius: 3px 0px 0px 3px;
}

.seoMenu .MuiButtonBase-root:last-child {
    border-radius: 0px 3px 3px 0px;
}

.seoMenu .MuiButtonBase-root:hover {
    color: #000;
}

.seoMenu .MuiButtonBase-root:hover.Mui-selected {
    color: #ffffff;
}
.seoMenu .MuiButtonBase-root.Mui-selected {
    color: #ffffff;
    background-color: #000;
}

.seoTabContent__container .MuiBox-root {
    padding: 0;
}
.seoTabContent__container .MuiButtonBase-root {
    padding: 2px 0;
    text-align: left;
    width: 175px;
    border: none;
    line-height: 17px;
    font-size: 11px;
    height: auto;
    font-weight: lighter;
}
.seoTabContent__container .MuiButtonBase-root.Mui-selected {
    color: #000;
    background-color: #fff;
}
.seoTabContent__container .MuiButtonBase-root:hover.Mui-selected {
    color: #000;
}
.seoTabContent__container .MuiTabs-indicator {
    display: block;
    background-color: black;
}
.seoTabContent__container .MuiTab-wrapper {
    display: inline-block;
}

.seoTabContent__container .MuiButtonBase-root + .MuiButtonBase-root {
    margin-left: 0px;
}

.seoContent__box_col {
    display: inline-block;
    width: 190px;
    vertical-align: top;
    padding-left: 20px;
}

.seoContent__box_link {
    display: block;
    text-decoration: none;
    color: #888;
    font-size: 10px;
    line-height: 21px;
    padding: 2 0px;
}
.seoContent__box_link:hover {
    color: #000;
}

.seoContent__box_benefit_title {
    margin: 13px 0 7px;
    font-size: inherit;
    line-height: inherit;
    font-weight: 700;
    font-size: 11px;
}

.seoContent__box_benefit_description {
    margin: 4px 0;
    font-size: 10px;
    line-height: 16px;
}




    