.footer {
    border-top: 1px solid #E5E5E5;
    padding-bottom: 40px;
}

.footer__columns {
    padding: 40px 0 30px;
}

.footer__col-icons {
    margin-bottom: 6px;
    text-align: left;
    will-change: transform;
}

.footer__col-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px 10px 0;
    text-decoration: none;
    color: #888;
    cursor: pointer;
    transition: .2s linear;
    transition-property: all;
}

.footer__icon-fb {
    background: url('./../../assets/images/socials/facebook.svg');
}

.footer__icon-fb:hover {
    background: url('./../../assets/images/socials/facebook_hover.svg');
}

.footer__icon-vk {
    background: url('./../../assets/images/socials/vk.svg');
}

.footer__icon-vk:hover {
    background: url('./../../assets/images/socials/vk_hover.svg');
}

.footer__icon-tw {
    background: url('./../../assets/images/socials/twitter.svg');
}

.footer__icon-tw:hover {
    background: url('./../../assets/images/socials/twitter_hover.svg');
}

.footer__icon-ok {
    background: url('./../../assets/images/socials/ok.svg');
}

.footer__icon-ok:hover {
    background: url('./../../assets/images/socials/ok_hover.svg');
}

.footer__icon-yt {
    background: url('./../../assets/images/socials/youtube.svg');
}

.footer__icon-yt:hover {
    background: url('./../../assets/images/socials/youtube_hover.svg');
}

.footer__icon-ig {
    background: url('./../../assets/images/socials/instagram.svg');
}

.footer__icon-ig:hover {
    background: url('./../../assets/images/socials/instagram_hover.svg');
}

.footer__icon-mail {
    background: url('./../../assets/images/socials/mail.svg');
}

.footer__icon-mail:hover {
    background: url('./../../assets/images/socials/mail_hover.svg');
}

.footer__icon-payment {

}

.footer__icon-mastercard {
    background: url('./../../assets/images/payments/footer__icon-mastercard.svg');
    width: 43px;
    height: 35px;
}

.footer__icon-visa {
    background: url('./../../assets/images/payments/footer__icon-visa.svg');
    width: 49px;
    height: 16px;
}

.footer__icon-paybox {
    background: url('./../../assets/images/payments/footer__icon-paybox.svg') 0 0/80px 25px;
    width: 80px;
    height: 25px;
}


.footer__text {
    font-size: 12px;
    line-height: 16px;
}

.footer__link {
    margin-left: 3px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #888;
    transition: all .2s linear;
}

.footer__link:hover {
    color: #888;
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
}

.footer__icon-appstore {
    background: url('./../../assets/images/apps/footer__icon-appstore.svg');
    width: 85px;
    height: 25px;
    margin-right: 20px;
}

.footer__icon-googleplay {
    background: url('./../../assets/images/apps/footer__icon-googleplay.svg');
    width: 85px;
    height: 25px;
}

.footer__col-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: inherit;
    line-height: inherit;
    font-weight: 700;
    font-size: 13px;
}

.footer__col-link {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    line-height: 16px;
    transition: color .2s ease;
}
.footer__col-link:hover {
    color: #888;
}

.footer__col {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    margin-right: -3px;
    width: 25%;
    padding-right: 20px;
    box-sizing: border-box;
}

.footer__col-item {
    margin: 2px 0;   
}






